@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lily+Script+One&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  font-family: Pathway Extreme;
}

/* Styling for the custom radio buttons */
.custom-radio .form-check-input {
  display: none; /* Hide default radio button */
}

.custom-radio .form-check-label {
  position: relative;
  display: block;
  padding-left: 2rem; /* Add space for custom radio */
  cursor: pointer;
}

.custom-radio .form-check-label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  border: 2px solid #007bff; /* Border color of radio button */
  border-radius: 50%; /* Circular shape */
  transform: translateY(-50%);
}

.custom-radio .form-check-input:checked + .form-check-label::before {
  background-color: #007bff; /* Background color when checked */
  border-color: #007bff; /* Border color when checked */
}

.custom-radio .form-check-input:checked + .form-check-label::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #fff; /* Inner dot color */
  border-radius: 50%; /* Circular dot */
  transform: translateY(-50%);
}


.wa-hubungi-kami {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1000;
}

.scrolltop {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 50px;
  height: 50px;
  background-color: #fccc00;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.scrolltop.show {
  opacity: 1;
  visibility: visible;
}

.scrolltop:hover {
  transform: scale(1.3);
}

.wa-hubungi-kami img {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.wa-hubungi-kami img:hover {
  transform: scale(1.3);
}

.popover-top,
.popover-left {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.popover-top {
  bottom: 70px;
  right: 0;
  width: auto;
  text-align: center;
  z-index: 99999999;
}

.popover-top .popover-barcode {
  width: 140px;
  height: auto;
}

.popover-left {
  top: 50%;
  right: 70px;
  transform: translateY(-50%);
  text-align: center;
  padding: 4px 8px;
  width: auto;
}

.popover-left .popover-text {
  font-size: 14px;
  color: #333;
}

.wa-hubungi-kami:hover .popover-top,
.wa-hubungi-kami:hover .popover-left {
  display: block;
}

.btn-contact {
  background-color: #fccc00;
  border: none;
  color: #000;
  border-radius: 50px;
  padding: 16px 28px;
  font-family: Pathway Extreme, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}


.navbar {
  height: 102px;
  backdrop-filter: blur(70px);
}
.navbar-mobile {
  display: none;
}

.navbar.fixed-top {
  z-index: 1000;
}

.menu {
  display: flex;
  gap: 8px;
}

.menu .list-menu {
  list-style: none;
}

.menu .list-menu a {
  color: #374e9d;
  font-family: Pathway Extreme, sans-serif;
  font-weight: 600;
  text-decoration: none;
}

.btn-navbar {
  background-color: #fccc00;
  border: none;
  border-radius: 120px;
  color: #000;
  font-size: 16px;
  font-family: Pathway Extreme, sans-serif;
  font-weight: 500;
  height: 48px;
  width: 161px;
}

/* Navbar Desktop End */

/* Navbar Mobile */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.01);
  z-index: 100;
  height: 102px;
  backdrop-filter: blur(70px);
}

nav {
  display: flex;
  gap: 50px;
}

nav ul li a {
  padding-right: 30px;
  text-decoration: none;
  color: #374e9d;
  font-size: 15px;
  font-weight: 500;
  font-family: Pathway Extreme, sans-serif;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}

nav ul li a:hover,
nav ul li a.active {
  border-bottom: 2px solid #384e9d;
}

nav ul li a:target {
  border-bottom: 2px solid #384e9d;
}

input {
  display: none;
}

/* Navbar Mobile End */


/* hero */
.hero {
  background-image: url('image/bg_hero.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 102px;
}

.hero .content {
  padding-top: 160px;
  text-align: center;
}

.hero .content .logo {
  margin: 0 auto;
  display: flex;
}

.hero .content .title {
  font-family: Pathway Extreme;
  font-size: 64px;
  font-weight: 400;
  line-height: 76.8px;
  letter-spacing: 0.029em;
  text-align: center;
  color: #fff;
  margin-top: 80px;
  margin-bottom: 40px;
}

.hero .content .title span {
  font-weight: 600;
}

.hero .content .subtitle {
  font-family: Pathway Extreme;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  letter-spacing: 0.029em;
  text-align: center;
  color: #fff;
  width: 64%;
  margin: 20px 0 40px 0;
}

.hero .content .btn-demo {
  padding: 16px 60px;
  border-radius: 54px;
  background-color: #FCCC00;
  color: #151A30;
  text-decoration: none;
}

.hero .content .btn-demo:hover {
  border: 1px solid #FCCC00;
  background-color: #fff;
}

/* hero */


/* about */
.about {
  padding-top: 50px;
}

.about .card {
  background: #F6F8FF;
  border-radius: 48px;
  padding: 60px;
  background-image: url('image/bg_about.svg');
  background-position: top right;
  background-size: 50% auto;
  /* Lebar 150px, tinggi otomatis untuk menjaga aspek rasio */
  border: none;
  background-repeat: no-repeat;
}

.about .title {
  font-family: Pathway Extreme;
  font-size: 80px;
  font-weight: 600;
  line-height: 105.6px;
  letter-spacing: 0.029em;
  text-align: center;
  margin-bottom: 60px;
}

.about .title-ket {
  font-family: Pathway Extreme;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.009em;
  text-align: left;
  color: #151A30;
}

.about .ket {
  font-family: Pathway Extreme;
  font-size: 18px;
  font-weight: 400;
  line-height: 30.96px;
  letter-spacing: 0.029em;
  text-align: justify;
  color: #151A30;
}

.about .btn-download {
  background-color: #fccc00;
  border: none;
  color: #000;
  border-radius: 50px;
  padding: 16px 28px;
  font-family: Pathway Extreme, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

/* about */


/* kenapa */
.kenapa {
  padding-top: 50px;
  position: relative;
  /* Set posisi relatif pada parent container */
}

.kenapa .title {
  font-family: Pathway Extreme;
  font-size: 70px;
  font-weight: 600;
  line-height: 92px;
  letter-spacing: 0.029em;
  text-align: left;
  margin-bottom: 40px;
}

.kenapa .title span {
  display: block;
  color: #374E9D;
}

.kenapa .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  z-index: -1;
  margin-top: 50px;
}

.kenapa .ket {
  font-family: Pathway Extreme;
  font-size: 18px;
  font-weight: 400;
  line-height: 41.28px;
  letter-spacing: 0.029em;
  text-align: justify;
}

/* kenapa */


/* entri */
.entri {
  padding-top: 50px;
}

.entri .title {
  font-family: Pathway Extreme;
  font-size: 70px;
  font-weight: 600;
  line-height: 95.04px;
  letter-spacing: 0.029em;
  text-align: center;
  margin-bottom: 40px;
}

.entri .card {
  padding: 40px;
  box-shadow: 0px 4px 80px 0px #00000012;
  border-radius: 38px;
  border: none;
  margin-bottom: 24px;
}

.entri .card img {
  height: 150px;
  width: auto;
  display: flex;
  margin: 0 auto;
}

.entri .title-ket {
  margin: 30px 0 20px 0;
  font-family: Pathway Extreme;
  font-size: 32px;
  font-weight: 600;
  line-height: 43.39px;
  text-align: center;
}

.entri .ket {
  font-family: Pathway Extreme;
  font-size: 18px;
  font-weight: 500;
  line-height: 24.41px;
  text-align: center;

}

/* entri */


/* laporan */
.laporan {
  padding-top: 50px;
  position: relative;
}

.laporan .title {
  font-family: Pathway Extreme;
  font-size: 70px;
  font-weight: 600;
  line-height: 64.4px;
  letter-spacing: 0.029em;
  text-align: left;
  margin-bottom: 60px;
}

.laporan .bg-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: auto;
  z-index: -1;
}

.laporan .card {
  padding: 10px;
  box-shadow: 0px 4px 80px 0px #00000012;
  border-radius: 38px;
  border: 0;
}

.laporan .card .ket {
  font-family: Pathway Extreme;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.08px;
  text-align: center;
  margin: 20px 0;
}

/* laporan */

/* client */
.client {
  padding-top: 50px;
}

.client .title {
  font-family: Pathway Extreme;
  font-size: 52px;
  font-weight: 600;
  line-height: 70.51px;
  text-align: center;
  margin-bottom: 40px;
}

.client .card {
  border: none;
  margin-bottom: 40px;
}

.client .card img {
  width: 100%;
}

.client .card .ket {
  font-family: Pathway Extreme;
  font-size: 24px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: #374E9D;
  margin-top: 10px;
}

/* client */



/* lkpp */
.lkpp {
  padding-top: 50px;
}

.lkpp .card {
  background: #F6F8FF;
  padding: 65px 70px;
  border: none;
  border-radius: 48px;
}

.lkpp .title {
  font-family: Pathway Extreme;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.009em;
  text-align: left;
}

.lkpp .subtitle {
  font-family: Pathway Extreme;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.52px;
  letter-spacing: 0.029em;
  text-align: left;

}

.lkpp .btn-display {
  font-family: Pathway Extreme;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.009em;
  text-align: center;
  background: #FCCC00;
  padding: 16px 34px;
  border-radius: 48px;
  text-decoration: none;
  color: #000;
  margin-top: 32px;
  display: inline-block;
}

/* lkpp */



/* share page */
.share-page {
  padding-top: 40px;
}

/* share page */

/* contact */
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lily+Script+One&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

#contact {
  padding: 48px 0 80px 0;
}

#contact .card {
  background-color: #F6F8FF;
  border-radius: 47px;
  border: none;
}

#contact .title {
  font-family: Pathway Extreme;
  font-size: 24px;
  font-weight: 400;
  line-height: 41.28px;
  letter-spacing: 0.029em;
  text-align: left;
  color: #848AA5;
}

#contact .subtitle {
  font-family: Pathway Extreme;
  font-size: 42px;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0.009em;
  text-align: left;
}

#contact .keterangan {
  font-family: Pathway Extreme;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.52px;
  letter-spacing: 0.029em;
  text-align: left;
  color: #2D2926;
}

#contact .btn-get-in {
  font-family: Pathway Extreme;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.009em;
  text-align: center;
  color: #555A71;
  background-color: #FCCC00;
  text-decoration: none;
  border-radius: 120px;
  padding: 18px 38px;
  margin-top: 34px;
  display: inline-block;
}

/* contact */


/* footer */
.footer-img img {
  height: 29px;
  margin-bottom: 52px;
}

.address img {
  margin-bottom: 24px;
}

.address ul {
  list-style: none;
}

.address .title {
  color: #10172f;
  font-size: 16px;
  font-family: Pathway Extreme, sans-serif;
  font-weight: 300;
}

.address .title:hover {
  color: #afafaf;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.address .copyright {
  color: #848aa5;
  font-family: Pathway Extreme, sans-serif;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

.menus-footer .title {
  color: #10172f;
  font-size: 24px;
  font-family: Pathway Extreme, sans-serif;
  font-weight: 400;
  margin-bottom: 42px;
}

.menus-footer .sub-title a {
  text-decoration: none;
  color: #374e9d;
  font-size: 16px;
  font-family: Pathway Extreme, sans-serif;
  font-weight: 500;
}

.menus-footer p {
  line-height: 10px;
}

.menus-footer .sub-title a:hover {
  text-decoration: underline 1.8px solid #374e9d;
}

.bg-footer {
  float: right;
}

/* Section Footer End */
/* footer */

@media (max-width: 575.98px) {

  /* Navigation Bar */
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: block;
  }

  .logo {
    margin-left: 0px;
  }

  nav button {
    margin-right: 0px;
  }

  nav {
    position: absolute;
    top: 100px;
    background: white;
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    gap: 20px;
  }

  nav a {
    padding-top: 10px;
    text-decoration: none;
    color: #374e9d;
    font-size: 15px;
    font-weight: 500;
    font-family: Pathway Extreme, sans-serif;
    transition: 0.3s;
  }

  nav ul li a:nth-child(1) {
    margin-top: 10px;
  }

  .bg-menu div {
    height: 1px;
    width: 30px;
    top: 0px;
  }

  label {
    width: 45px;
    height: 30px;
    position: relative;
  }

  label div {
    width: 100%;
    height: 5px;
    background: #10172f;
    position: absolute;
    transform: translateY(-50%);
    border-radius: 99px;
    transition: 0.3s;
    transform: scale(1);
  }

  label div:nth-child(1) {
    top: 0;
  }

  label div:nth-child(2) {
    top: 30%;
  }

  label div:nth-child(3) {
    top: 60%;
  }

  input:checked+header nav {
    height: 100vh;
  }

  input:checked+header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 30%;
  }

  input:checked+header label div:nth-child(3) {
    transform: rotate(-45deg);
    top: 30%;
  }

  input:checked+header label div:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }

  .bg-navbar {
    background-color: #fccc00;
    width: 48px;
    height: 48px;
    border-radius: 50px;
  }

  .bg-menu {
    margin: 15px 0px 0px 10px;
  }

  .btn-contact {
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  /* hero */
  .hero{
    margin-top: 0px;
  }
  .hero .content {
    padding-top: 140px;
    text-align: center;
  }

  .hero .content .logo {
    width: 60%;
  }

  .hero .content .title {
    font-size: 36px;
    line-height: normal;
    font-family: Pathway Extreme;
    font-weight: 400;
    letter-spacing: 0.029em;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
  }


  .hero .content .subtitle {
    font-family: Pathway Extreme;
    font-size: 14px;
    font-weight: 400;
    line-height: 21.6px;
    letter-spacing: 0.029em;
    text-align: center;
    color: #fff;
    width: 100%;
    margin: 20px 0 40px 0;
  }

  .hero .content .btn-demo {
    padding: 16px 60px;
    border-radius: 54px;
    background-color: #FCCC00;
    color: #151A30;
    text-decoration: none;
  }

  .about {
    padding-top: 50px;
  }

  .about .card {
    padding: 40px;
    background: #F6F8FF;
    border-radius: 48px;
    background-image: url('image/bg_about.svg');
    background-position: top right;
    background-size: 80% auto;
    border: none;
    background-repeat: no-repeat;
  }

  .about .title {
    font-family: Pathway Extreme;
    font-size: 36px;
    line-height: normal;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .about img {
    margin-bottom: 30px;
  }

  .about .title-ket {
    font-size: 24px;
  }

  .about .ket {
    font-size: 16px;
  }

  .about .btn-download {
    background-color: #fccc00;
    border: none;
    color: #000;
    border-radius: 50px;
    /* padding: 16px 20px; */
    width: 100%;
    font-family: Pathway Extreme, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
  }

  .about .btn-download img {
    margin-bottom: 6px;
  }


  .kenapa {
    padding-top: 40px;
    position: relative;
    /* Set posisi relatif pada parent container */
  }

  .kenapa .title {
    font-size: 36px;
    line-height: normal;
    margin-bottom: 40px;
  }

  .kenapa .title span {
    display: block;
    color: #374E9D;
  }

  .kenapa .bg-image {
    display: none;
  }

  .kenapa img {
    width: 100%;
  }

  .kenapa .ket {
    font-family: Pathway Extreme;
    font-size: 16px;
    font-weight: 400;
    line-height: 41.28px;
    letter-spacing: 0.029em;
    text-align: justify;
  }


  .entri {
    padding-top: 40px;
  }

  .entri .title {
    font-family: Pathway Extreme;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.029em;
    text-align: center;
    margin-bottom: 40px;
  }

  .entri .card {
    padding: 40px;
    box-shadow: 0px 4px 80px 0px #00000012;
    border-radius: 38px;
    border: none;
    margin-bottom: 24px;
  }

  .entri .card img {
    height: 150px;
    width: auto;
    display: flex;
    margin: 0 auto;
  }

  .entri .title-ket {
    margin: 30px 0 20px 0;
    font-family: Pathway Extreme;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.39px;
    text-align: center;
  }

  .entri .ket {
    font-family: Pathway Extreme;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.41px;
    text-align: center;
  }

  .laporan {
    padding-top: 40px;
    position: relative;
  }

  .laporan .title {
    font-size: 36px;
    line-height: normal;
    margin-bottom: 20px;
  }

  .laporan .bg-image {
    display: none;
  }

  .laporan .card {
    padding: 10px;
    box-shadow: 0px 4px 80px 0px #00000012;
    border-radius: 38px;
    border: 0;
  }

  .laporan .card .ket {
    font-family: Pathway Extreme;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.08px;
    text-align: center;
    margin: 20px 0;
  }

  .laporan .col-0 {
    display: none;
  }

  .client {
    padding-top: 40px;
  }

  .client .title {
    font-family: Pathway Extreme;
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-bottom: 40px;
  }

  .client .card {
    border: none;
    margin-bottom: 20px;
  }

  .client .card .ket {
    font-family: Pathway Extreme;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    color: #374E9D;
    margin-top: 10px;
  }

  .lkpp {
    padding-top: 40px;
  }

  .lkpp .card {
    background: #F6F8FF;
    padding: 40px;
    border: none;
    border-radius: 48px;
  }

  .lkpp .title {
    font-size: 20px;
    line-height: normal;
    margin-top: 12px;
  }

  .lkpp .subtitle {
    font-family: Pathway Extreme;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.52px;
    letter-spacing: 0.029em;
    text-align: left;

  }

}